* {
    margin: 0;
    padding: 0;
}

.container {
    /* border: 2px solid red; */
    margin: 0 auto;
    width: 1000px;
}

#nav {
    background-color: black;
    padding: 20px;
}

#logo {
    color: whitesmoke;
    margin-left: 10px;
}

#centered {
    text-align: center;
    padding: 10px 0 20px 0;
}

.main {
    display: flex;
}

/* Left Column */

.left{
    flex: 1;
}

.user {
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}

#avatar-m{
    height: 128px;
    margin: 20px;
}

.left p {
    margin: 20px;
}

/* End of Left */

/* Right */

.right {
    flex: 2;
    margin-left: 30px;
}

.post {
    padding: 20px;
    margin-bottom: 30px;
    border: 2px solid black;
    font-size: 22px;
}

.top{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.btn {
    background-color: #ffd966;
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
}
